* {
box-sizing: border-box;
}
*, *::after, *::before {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor{
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center center;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-size: 10px;
  line-height: 1rem;
  padding: 0;
  margin: 0;
}

/*MENU*/
li {
  list-style-type: none;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2rem;
  font-family: 'Helvetica', "Arial", sans-serif;
}

ul {
  text-align: right;
  margin-bottom: 50px;
  padding: 50px;
  margin-top: 0;
  margin-left: 0px;
}
/*MENU*/


a:link {color: #000000; text-decoration: none;}
a:visited { color: #000000;}


/*NoMBRE CASSANDRE*/
h1{
  font-size: 8rem;
  text-align: center;
  margin-top: 0px;
}
/*NoMBRE CASSANDRE*/



#autoescritura{
  font-size: 3rem;
  color: #DDC345; /*FDE63F*//*D79245*/
  text-align: center;
  line-height: 1.2;
  margin-right: 227px;
  margin-left: 227px;
}

.boton img{
  margin-top: 30px;
  margin-bottom: 50px;
}


/*BLOQUES DE TEXTOS*/
.explicacion p{
  font-size: 2.4rem;
  color: #000000;
  text-align: left;
  line-height: 1.3;
  margin-right: 200px;
  margin-left: 200px;
}

.explicacion{
  background-color: #FFFFFF;
  padding: 70px;
  text-align: center;
}

.explicacion iframe{
  text-align: center;
}

/*BLOQUES DE TEXTOS*/

#contenedorDesvelarImagen{
  position: relative;
  height: 485px;
  width: 550px;
  overflow: hidden;
  transform:translateX(53%);
  margin-bottom: 0px;
}

#canvasTop,
#canvasBottom{
  position:absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  border: 0 none transparent;

}

.addBlur{
  -o-filter: blur(5px); // prefijos para mayor compatibilidad.
  -moz-filter: blur(5px); // prefijos para mayor compatibilidad.
  -webkit-filter: blur(5px);  // prefijos para mayor compatibilidad.
  filter: blur(5px);
}

footer{
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px;
  margin-top: 60px;
}

footer p{
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px
}

/*VERTICAL TIMELINE*/
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 2.3rem;
}

.header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #000000;
}


h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.cd-timeline {
  overflow: hidden;
  margin: 2em auto;
}

.cd-timeline__container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em 0;
}

.cd-timeline__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #000000;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block:first-child {
  margin-top: 0;
}

.cd-timeline__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__block {
    margin: 4em 0;
  }
}

.cd-timeline__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0);
}


@media only screen and (min-width: 1170px) {
  .cd-timeline__img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -16px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .cd-timeline__img.cd-timeline__img--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
            animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cd-timeline__content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-color: black
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 3px 3px 3px 3px #000000;
          box-shadow: 3px 3px 3px 3px #000000;
}

.cd-timeline__content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}
.cd-timeline__content .js-cd-content p{
  font-size: 1.7rem;
}

.cd-timeline__content::before {
  /* triangle next to content block */
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.cd-timeline__content h2 {
  color: #303e49;
}

.cd-timeline__content p,
.cd-timeline__read-more,
.cd-timeline__date {
  font-size: 1.3rem;
}

.cd-timeline__content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline__read-more,
.cd-timeline__date {
  display: inline-block;
}

.cd-timeline__read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.cd-timeline__read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline__date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

@media only screen and (min-width: 768px) {
  .cd-timeline__content h3 {
    font-size: 2rem;
  }
  .cd-timeline__content p {
    font-size: 2rem;
  }
  .cd-timeline__read-more,
  .cd-timeline__date {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .cd-timeline__content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline__read-more {
    float: left;
  }
  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 1.6rem;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cd-timeline__content.cd-timeline__content--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
            animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
            animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.gris p{
  font-size: 1.5rem;
  color: #CDD6E8;
  text-align: center;
}
